@using IGB.Models
@model LoginVM

@{
	ViewData["Title"] = "Login";
}

<div class="row">
	<div class="col-md-6 offset-3">
		<p>
			<h4>Login to your account</h4>
		</p>
		@if (TempData["Error"] != null)
		{
			<div class="col-md-12 alert alert-danger">
				<span><b>Sorry!</b> - @TempData["Error"]</span>
			</div>
		}
		<div class="row">
			<div class="col-md-8 offset-2">
				<form asp-action="Login">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="mb-3">
						<label asp-for="EmailAddress" class="form-label"></label>
						<input asp-for="EmailAddress" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
						<span asp-validation-for="EmailAddress" class="text-danger"></span>
						<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
					</div>
					<div class="mb-3">
						<label asp-for="Password" class="form-label"></label>
						<input asp-for="Password" type="password" class="form-control" aria-describedby="emailHelp">
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn btn-outline-success float-end" />
						<a class="btn btn-outline-secondary" asp-controller="Movies" asp-action="Index">Back To Movies List</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>